@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.float-layout {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}


.float-layoutRes {
  padding: 40px 40px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}


.card-container {
  overflow: hidden;
}

.cardNew {
  background-color: rgb(255, 255, 255);
  color: black;
  min-height: 100%; /*replace this it in width: 100%*/
  width: 50%;
  float: right;
}

.card-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}

.card-desc {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

.card-image {
  display: flex;
}

div.card-image img {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 37.5em) {
  div.card-image img {
    width: 100%;
    height: auto;
  }
  
  .card-image {
     flex-direction: column;
  }

  .card {
    width: 100%;
    margin-top: -4px;
  }
}


.wrapper{
    height: 100%;
    width: 300px;
    position: relative;
    z-index: 2;
  }

  .wrapper .menu-btn{
    position: absolute;
    left: 20px;
    top: 10px;
    background: #e49bc3;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid rgb(218, 136, 186);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  #btn:checked ~ .menu-btn{
    left: 247px;
  }

  .wrapper .menu-btn i{
    position: absolute;
    /* transform: ; */
    font-size: 23px;
    transition: all 0.3s ease;
  }

  .wrapper .menu-btn i.fa-times{
    opacity: 0;
  }

  #btn:checked ~ .menu-btn i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
  }

  #btn:checked ~ .menu-btn i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
  }

  #sidebar{
    position: fixed;
    background: #e49bc3;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
  }

  #btn:checked ~ #sidebar{
    left: 0;
  }

  #sidebar .title{
    line-height: 65px;
    text-align: center;
    background: #fafafa;
    font-size: 25px;
    font-weight: 600;
    color: #e49bc3;
    border-bottom: 1px solid #e49bc3;
  }

  #sidebar .list-items{
    position: relative;
    background: #fafafa;
    width: 100%;
    height: 100%;
    list-style: none;
  }

  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid #ffffff1a;
    border-bottom: 1px solid #e49bc3;
    transition: all 0.3s ease;
  }

  #sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }

  #sidebar .list-items li:first-child{
    border-top: none;
  }

  #sidebar .list-items li a{
    color: #e49bc3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }

  #sidebar .list-items li a i{
    margin-right: 20px;
  }

  #sidebar .list-items .icons{
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 110px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sidebar .list-items .icons a{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #e49bc3;
    border-radius: 5px;
    border: 1px solid #fafafa;
    transition: all 0.3s ease;
    /* padding-bottom: 100px; */
  }

  #sidebar .list-items .icons a:hover{
    background: #404040;
  }

  .list-items .icons a:first-child{
    margin-left: 0px;
  }

  .content{
      text-align: center;
      padding-top: 200px;
      color: #202020;
      z-index: -1;
  }

  .content h1{
      font-size: 45px;
  }

  .content h1 span{
    color: #a53e72;
}

.card__content h1 span{
  color: #a53e72;
}

.content p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .contentResources{
    text-align: center;
    padding-top: 150px;
    color: #202020;
    z-index: -1;
  }


  .contentResources h1{
    font-size: 45px;
}

.contentResources h1 span{
  color: #a53e72;
}

.contentResources p{
  font-size: 20px;
  /* font-weight: 700; */
}



  .info{
      text-align: center;
      left: 50%;
      right: 50%;
      z-index: -1;

  }

  /* .info{
    position: absolute;
    top: 42%;
    text-align: center;
    left: 20%;
    right: 20%;
    z-index: -1;
} */

.info p{
    text-align: center;
    font-size: 16px;
    padding-left: 190px;
    padding-right: 190px;
}

.infobutton{
    /* position: absolute; */
    top: 81%;
    align-items: center;
    display: flex;
    left: 20%;
    right: 20%;
    justify-content: center;
    display: grid;
  }
  
  .buttonHome {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #e49bc3;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonHome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonHome span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonHome:hover span {
    padding-right: 25px;
  }
  
  .buttonHome:hover span:after {
    opacity: 1;
    right: 0;
  }

  .header h1{
    font-size: 45px;
    text-align: center;
}


.cards{
    margin: 0 auto;
    max-width: 900px;
    display: grid;
   /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-rows: auto;
    gap: 80px;
    font-family: sans-serif;
     padding-top: 30px;
    /* padding-top: 800px; */
    z-index: 1;
}

.cardsRes{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: auto;
    gap: 40px;
    font-family: sans-serif;
    /* padding-top: 400px; */
  }

  .cardsAU{
    margin: 0 auto;
    max-width: 650px;
    display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: auto;
    gap: 40px;
    font-family: sans-serif;
    /* padding-top: 400px; */
  }

  .cards * {
    box-sizing: border-box;
}

.card__imageAU {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top: 2px solid #c990ab;
    border-right: 2px solid #c990ab;
    border-left: 2px solid #c990ab;
}

.card__contentAU {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #c990ab;
    border-left: 2px solid #c990ab;
}

.card__contentAU h1{
    text-align: left;
    font-size: 25px;
    padding-bottom: 10px;
}

.card__contentAU > p:first-of-type {
    margin-top: 0;
}

.card__contentAU > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}


.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content h1{
  text-align: left;
  font-size: 25px;
  padding-bottom: 10px;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__infoAU {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #c990ab;
  border-right: 2px solid #c990ab;
  border-left: 2px solid #c990ab;
}

.card__infoAU i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__infoRes {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
  background: #eeeeee;
  background-color: #ffffff;
  /* font-size: 0.8em; */
  font-size: 19px;
  border-bottom: 2px solid #c990ab;
  border-right: 2px solid #c990ab;
  border-left: 2px solid #c990ab;
}

.card__infoRes i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__linkRes {
  color: #a53e72;
  text-decoration: none;
  text-align: center;
}

.card__linkRes:hover {
  text-decoration: underline;
}

.card__link {
    color: #a53e72;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.button {
    background-color: #e49bc3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #e49bc3;
  }
  
  .button1:hover {
    background-color: #e49bc3;
    color: white;
  }

  .footer-basic {
	padding:100px 0;
	background-color:#ffffff;
	color:#4b4c4d;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 60px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }

  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
  }

  .aboutWIS p{
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 50px; */
  }

  .Goals h1{
    color: #000000;
    padding-top: 20px;
    font-size: 45px;
    text-align: center;
  }

  .Goals h1 span{
    color: #a53e72;
}

  .Goals p{
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .Mission h1{
    padding-top: 20px;
    font-size: 45px;
    text-align: center;
  }

  .Mission h1 span{
    color: #a53e72;
}


  .Mission p{
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .Benefit h1{
    color: #000000;
    padding-top: 20px;
    font-size: 45px;
    text-align: center;
  }

  .Benefit h1 span{
    color: #a53e72;
}

  .Benefit p{
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  #slider,
  .wrap,
  .slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
  }
  

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
  
  .resourceCard{
    padding-top: 30px;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  .resourceImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  .resourceCard h1{
    font-size: 24px;
    text-align: center;
  }

  .resourceCard p{
    font-size: 15px;
    text-align: center;
  }

  .groupbutton{
    /* position: absolute; */
    top: 81%;
    align-items: center;
    display: flex;
    left: 20%;
    right: 20%;
    justify-content: center;
    display: grid;
    padding-bottom: 70px;
  }
  
  .buttongroup {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #e49bc3;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttongroup span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttongroup span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttongroup:hover span {
    padding-right: 25px;
  }
  
  .buttongroup:hover span:after {
    opacity: 1;
    right: 0;
  }


  @media only screen and (max-width:700px){
    .info p{
    padding-left: 30px;
    padding-right: 30px;
    }

    .content{
      text-align: center;
      padding-top: 80px;
      color: #202020;
      z-index: -1;
  }

  .contentResources{
    text-align: center;
    padding-top: 80px;
    color: #202020;
    z-index: -1;
}

    .cards{
        margin: 0 auto;
        max-width: 1000px;
        display: grid;
       /* grid-template-columns: repeat(2, 1fr); */
        grid-auto-rows: auto;
        gap: 80px;
        font-family: sans-serif;
        /* padding-top: 30px;
        padding-top: 800px; */
        z-index: 1;
    
    }


.float-layoutRes {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}

.card__imageAU {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top: 2px solid #c990ab;
  border-right: 2px solid #c990ab;
  border-left: 2px solid #c990ab;
}


#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}

.resourceCard{
  padding-top: 30px;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.content h1{
  font-size: 45px;
  padding-left: 10px;
  padding-right: 10px;
}
}
