*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
}

h1{
  margin-top: 40px;
  /* margin-bottom: 40px; */
  color:#a53e72;
  font-style:inherit;
  font-size: 55px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container h1 span{
  color:rgb(255, 107, 181);
}

body{
  background-color: #FFD8E7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

a{
  color: rgb(141, 53, 114);
  text-decoration: none;
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0, 2rem;
}

.card{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: rgb(224, 123, 199, 0.31);
  margin-bottom: 2rem;
}
.card h3{
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.card img{
  height: 400px;
}

.card > div{
  padding: 2rem;
}

.card:nth-child(even)img{
  order:2;
}

nav{
  background-color: rgb(255, 175, 231, 0.3);
  text-align: center;
  margin-bottom: 20px;
  /* padding-top: 50px; */
  padding-bottom: 20px;
  width: 100%;
  height: 150px;
}


nav a{
  text-decoration: none;
  color:rgb(199, 78, 163);
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

main{
  color: black;
  font-size: 20px;
  text-align: center;
}

main h1{
  font-size: 55px;
  padding-bottom: 10px;
}

main h2{
  font-size: 25px;
  padding-top: 9px;
  padding-bottom:15px;
}

.container a{
  text-decoration: none;
  color:rgb(199, 78, 163);
  font-size: 20px;
  display: inline-block;
  background: rgb(255, 255, 255);
  cursor: pointer; 
  padding: 0.7rem 1.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

main p{
  font-size: 20px;
}

.btn{
  display: inline-block;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.8;
}

@media(max-width: 700px){
  .card {
    display: block;
  }
}

footer{
  background-color: rgb(255, 175, 231, 0.3);
  text-align: center;
  font-size: 20px;
  padding-bottom: 50px;
}

footer h1{
  text-align:center;
  padding-top:35px;
  padding-bottom:25px;
  font-size: 40px;
  color:rgb(165, 62, 114);
}

footer a{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-size: 20px; 
  padding-left: 50px;
  padding-right: 50px;
  text-align:center;
}

p{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right:20px;
  margin-left: 20px;
}

.container h2{
  margin-top: 20px;
}

footer h1 span{
  color: rgb(255, 107, 181);;
}

.ourgoalsbtn{
  background-color:  white;
  color:rgb(165, 62, 114);
}

.ourgoalsbtn:hover{
  opacity: 0.8;
}

.suggestionsbtn{
  background-color:  white;
  color:rgb(165, 62, 114);
}

.suggestionsbtn:hover{
  opacity: 0.8;
}


.homebtn{
  background-color:  white;
  color:rgb(165, 62, 114);
}

.homebtn:hover{
  opacity: 0.8;
}


.card p{
  font-size: 17px;
  margin-bottom: 15px;
}

.groupmelink{
  background-color: #FFD8E7;
}

.containergroup a{
  background-color: #FFD8E7;
  text-decoration: none;
  color:rgb(199, 78, 163);
  font-size: 20px;
  display: inline-block;
  cursor: pointer; 
  margin-top: 10px;
  margin-bottom: 20px;
}

.containergroup p{
  padding-left: 50px;
  padding-right: 50px;
}

.containergroup h1 span{
  color:rgb(255, 107, 181);
}

/* ul{
margin-left: 60px;
}

ul li{
list-style:none;
display:inline-block;
float: left;
line-height: 100px;

}

ul li a{
  display: block;
text-decoration:none;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color:rgb(165, 62, 114);
padding: 0 20px;
} */

body img{
  margin-left:100px;
  margin-top: 50px;
} 


.navbar{
  background-color: #ffffff;
  color: black;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list{
  list-style-type: none;
}

ul li{
  display: inline-block;
  padding: 20px 10px;
}

.navbar a{
  color: black;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(199, 78, 163);;
}

.primary-icon{
  height: 160px;
  float: left;
  padding-bottom:30px;
}

.teuta_image{
  margin-left:100px;
  margin-top: 130px;
}

.reyan_image{
  margin-left:150px;
  margin-top: 150px;
}

.sid_image{
margin-top: 100px;
}

.womanphotos{
  margin-bottom:40px;
}

.w3-center{
  position: relative;
}

.w3-container h1 span{
  color:rgb(255, 107, 181);
}

.w3-container h1{
  margin-top: 40px;
  /* margin-bottom: 40px; */
  color:#a53e72;
  font-style:inherit;
  font-size: 55px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center
}

.w3-container h2{
  text-align:center;
}

.w3-content{
  margin-left: 210px;
}

.w3-center{
  text-align: center;
}

.w3-button{
  margin-top: 30px;
}

@media only screen and (max-width:700px){
  nav ul{
    width: 100%;
    background:rgb(255, 255, 255);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  .primary-icon{
    margin-left: 20px; 
    margin-top: 25px;
  }
  .container{
    text-align: center;
  }

  .container h1{
    font-size: 45px;
  }

  .container h2{
    font-size: 20px;
  }

  .container p{
    font-size: 14px;
  }

  .instapage{
   margin-left: 20px;
  }
  .groupmepage{
    margin-left: 27px;
  }

  .discordpage{
    margin-left: 52px;
  }
  .emailpage{
    margin-left: 45px;
  }


}
